In [1]:
a="hi"
b='"hi"'
print(a)
print(b)

hi
"hi"

In [12]:
a='''hello
hi'''
(a)

'hello\nhi'

In [13]:
a='''hi'''
(a)

'hi'

In [14]:
a="hi"
(a)

'hi'

In [15]:
a='hi'
(a)

'hi'

In [19]:
#string slicing programs
a[0],a[1]

('h', 'i')

In [20]:
a[0:]#print total string

'hi'

In [23]:
a[0:2]#anotehr way to print string

'hi'

In [25]:
a[0:4:1]#index not in range but upto string values will print

'hi'

In [26]:
print(a[::1])#to print given string

hi

In [29]:
print(a[::2])#step is 2
print(a[::3])# step is 3
print(a[1:6:4])#a[1]
print(a[:6:4])#a[0]

h
h
i
h

In [32]:
a[-1]#to print in reverse
a[::-1]#to print in reverse

'ih'

In [37]:
print(a[-1::-1])
print(a[::-1])

ih
ih

In [35]:
a[-1:-1]

''

In [38]:
a="hello world"
print (a)

hello world

In [42]:
print(a[0: :2])  #positive index alternative
print(a[0:len(a):2])

hlowrd
hlowrd

In [47]:
print(a[-1: :-2])#negative indexing alternative
print(a[-1:(-len(a))-1:-2])

drwolh
drwolh

In [41]:
l=len(a)
print(l)

11

In [50]:
#try to wite value 77  in a
#try to change the second characte of a
#string item assignment not possible strings are immutable
print(a.replace('h','a'))
print(a)
a=77
print(a)

aello world
hello world
77

In [51]:
print("2==3",2==3)
print("2!=3",2!=3)
print("5>6",5>6)
print("9>56",9>56)
print("-5>-9",-5>-9)
print("-5<-9",-5<-9)

2==3 False
2!=3 True
5>6 False
9>56 False
-5>-9 True
-5<-9 False

In [52]:
#check the following
print(0==0.0)
print(5==True)
print(-10==True)
print(0==True)
print("49"==49)
print(7>True)
print(7>False)

True
False
False
False
False
True
True

In [53]:
#how to read input from keyboard
name=input("enter ur name")
print(name)

enter ur nameseharana
seharana

In [54]:
#Read both firstname and last name from keyboard.print output
#1.FIRST name Last name
#2.last name Firstname
a=input("enter ur first name")
b=input("enter ur last name")
print(a,b)
print(b,a)

enter ur first nameshaik
enter ur last nameseharana
shaik seharana
seharana shaik

In [62]:
#print two numbers sum and read from keyboard
a=int(input("enter ur n0 "))
b=int(input("enter ur no "))
s=a+b
print(s)

enter ur n0 3
enter ur no 2
5

In [64]:
#"reapeat string 3 times "
a=input("enter ur string: ")
r=a*3
print(r)

enter ur string: hai
haihaihai

In [69]:
a='a' not in 'hai'
b='a' in 'hai'
print(a);print(b)

False
True

In [80]:
for i in range(i): # print upto given range
    print(i)
print('hai')

0
1
2
hai

In [81]:
for i in range(5):#to print numbers  upto given range giving number
    print(i)
print('hai')

0
1
2
3
4
hai

In [84]:
for i in a:              #to separate with commas end we will use default space is available
    print(i,end=',')

h,e,l,o,o,

In [90]:
a='hai';b='hello'
print(a,b,sep=' ')         #using sep and end we do inbetween strings what we want

hai hello

In [93]:
#conditional
#even or odd
n=int(input("enter ur number"))
if (n%2==0):
    print("even number")
else:
    print("odd number")

enter ur number25
odd number

In [96]:
# number positive or negative or zero
a=int(input("enter ur number"))
if (a>0):
    print("positive")
elif (a<0):
    print("negative")
else:
    print("0")

enter ur number0
0

In [98]:
#no even, multiple of 8 or not
#no odd, multiple of 7 or not  #using and operator
b=int(input("enter ur number"))
if (b%2==0 and b%8==0):
        print("multiple of 8")
elif (b%2!=0 and b%7==0):
        print("multiple of 7")
else:
        print("not divisible by above numbers")

enter ur number14
not divisible by above numbers

In [102]:
for i in range(1,11):  #
    if(i%2==0):
        print(i,"is even")

2 is even
4 is even
6 is even
8 is even
10 is even

In [106]:
for i in range(7,1001,7):#in the given range multipes of 7
        print(i,end=' ')

7 14 21 28 35 42 49 56 63 70 77 84 91 98 105 112 119 126 133 140 147 154 161 168 175 182 189 196 203 210 217 224 231 238 245 252 259 266 273 280 287 294 301 308 315 322 329 336 343 350 357 364 371 378 385 392 399 406 413 420 427 434 441 448 455 462 469 476 483 490 497 504 511 518 525 532 539 546 553 560 567 574 581 588 595 602 609 616 623 630 637 644 651 658 665 672 679 686 693 700 707 714 721 728 735 742 749 756 763 770 777 784 791 798 805 812 819 826 833 840 847 854 861 868 875 882 889 896 903 910 917 924 931 938 945 952 959 966 973 980 987 994

In [107]:
for i in range(14,1001,14): # 7 even multiples
    print(i,end=' ')

14 28 42 56 70 84 98 112 126 140 154 168 182 196 210 224 238 252 266 280 294 308 322 336 350 364 378 392 406 420 434 448 462 476 490 504 518 532 546 560 574 588 602 616 630 644 658 672 686 700 714 728 742 756 770 784 798 812 826 840 854 868 882 896 910 924 938 952 966 980 994

In [110]:
for i in range(994,0,-7):  #reverse of multiples of 7
    print(i,end=' ')

994 987 980 973 966 959 952 945 938 931 924 917 910 903 896 889 882 875 868 861 854 847 840 833 826 819 812 805 798 791 784 777 770 763 756 749 742 735 728 721 714 707 700 693 686 679 672 665 658 651 644 637 630 623 616 609 602 595 588 581 574 567 560 553 546 539 532 525 518 511 504 497 490 483 476 469 462 455 448 441 434 427 420 413 406 399 392 385 378 371 364 357 350 343 336 329 322 315 308 301 294 287 280 273 266 259 252 245 238 231 224 217 210 203 196 189 182 175 168 161 154 147 140 133 126 119 112 105 98 91 84 77 70 63 56 49 42 35 28 21 14 7

In [113]:
for i in range(99,50,-2):    #reverse order 100 to 50 odd numbers
    print(i,end=' ')

99 97 95 93 91 89 87 85 83 81 79 77 75 73 71 69 67 65 63 61 59 57 55 53 51

In [114]:
i=1
while i<=10:
    print(i,end=' ')    #1 to 10 number print using while loop
    i=i+1

1 2 3 4 5 6 7 8 9 10

In [119]:
i=3
while i<=100:
        print(i,end=' ')  # multiple of 3 
        i=i+3

3 6 9 12 15 18 21 24 27 30 33 36 39 42 45 48 51 54 57 60 63 66 69 72 75 78 81 84 87 90 93 96 99

In [120]:
i=99
while i>=3:
        print(i,end=' ')  #multiple of 3 in reverse order
        i=i-3

99 96 93 90 87 84 81 78 75 72 69 66 63 60 57 54 51 48 45 42 39 36 33 30 27 24 21 18 15 12 9 6 3