In [2]:
name="hai"

In [3]:
myList=[]

In [4]:
print(type(),type(myList))

TypeError: type() takes 1 or 3 arguments

In [ ]:
names=["sai","ram"]

In [ ]:
type(names)

### finding number of items in list(zero to one)

In [ ]:
len(names)

In [ ]:
names[0];names[1]

In [ ]:
names[10]

In [ ]:
names[-1]

In [ ]:
names[-2]

# list is mutable

**list methods

# 1.append
                :to add new items in th available list

In [ ]:
names

In [ ]:
names.append("lai")

In [ ]:
names

In [ ]:
new_persons=["kiran","kumm"]

In [ ]:
names.extend(new_persons)

In [ ]:
names

In [ ]:
len(names)

**to overcome drawback adding list directly we go for extend method

In [ ]:
names.extend(new_persons)

In [ ]:
names

In [ ]:
a=["sai","shaik"]   #using extend methods

In [ ]:
b=["new","old"]

In [ ]:
a.extend(b)

In [ ]:
a

In [ ]:
sairam=[40,50,60]
lakshmi=sairam        #two persons haiving same marks

In [ ]:
sairam,lakshmi

In [ ]:
sairam.append(100)    #one person got one marks than other person then we face problem

In [ ]:
sairam

In [ ]:
lakshmi

# Copy method to overcome same marks or one person  got one extra

In [ ]:
sairam=[40,50,60]
lakshmi=sairam.copy()     # to overcome above mentioned probelm we go for copy method

In [ ]:
sairam,lakshmi

In [ ]:
sairam.append(100)

In [ ]:
sairam,lakshmi                     # at last output there is no problem

# to replace list items one with another

In [ ]:
names=["sai","lask"]

In [ ]:
names[0]="ram"

In [ ]:
names

# to see available methods in list

In [ ]:
dir(list)

# to remove all the items in the list we use clear method

In [ ]:
names=['s','a','i']
names

In [ ]:
names.clear()    
names

# we will not get any error if the list is empty

In [ ]:
names.clear()
names`

# count
            -it can search item and return the number of occurances in list

In [ ]:
numbers=[10,2,1,2,2,4]

numbers.count(20)     # if number present not problem or no item return o

In [ ]:
numbers.count(10)

In [ ]:
numbers=[10,2,[2,2],2]

In [ ]:
numbers.count(2)

# index  method will give respected position in the list
                     -return index of first occurance of the item in list in present or return value error

In [ ]:
numbers.index(2)

In [ ]:
numbers.index(200)

# index(item,strating_index_for_searching)

numbers=[1,2,3,1,2,3,4,1,2,3]
numbers.index(3,4)

In [ ]:
numbers=[1,2,3,9,5,6,7]

 # insert(index,item):
                 -3 rd index 4 number will replace
                 -or the index not present last the number will be added

In [ ]:
numbers.insert(3,4)

In [ ]:
numbers

In [ ]:
numbers.insert(10,8)

In [ ]:
numbers

# pop(index)
                 - remove that index value
# pop()
                  -remove last index value

In [ ]:
numbers=[1,4,3,6,7,8]

In [ ]:
numbers.pop()

In [ ]:
numbers.pop(1)

In [ ]:
numbers

# remove (item):
                   -exactly remove the item 
# remove():
                    -give error

In [ ]:
numbers=[1,4,5,2,7,8]

In [ ]:
numbers.remove(5)

In [ ]:
numbers

# reverse():
                   -exactly reverse the list

In [5]:
numbers=[1,6,3,8,7,5]

In [6]:
numbers.reverse()

In [7]:
numbers

[5, 7, 8, 3, 6, 1]

# sort():
            -sorting in assending order

In [8]:
numbers=[1,4,2,5,7,8]

In [9]:
numbers.sort()

In [10]:
numbers

[1, 2, 4, 5, 7, 8]

In [11]:
numbers.sort(2)

TypeError: sort() takes no positional arguments

In [ ]:
numbers=[20,30,10,5,35]
numbers.sort(reverse=True)   #Descending order to print list items
numbers

In [ ]:
numbers=[10,2,1,3]
numbers.sort(reverse=False)    #Ascending order to print items in list
numbers

# looping concepts

In [ ]:
total=0
for each in numbers:
    total=total+each
print(total)

In [ ]:
#students=[["sai",30,40,50],["ram",40,50,60]]
name=" "
total_marks=0
for i in students:
    if(sum(i[1:])>total_marks):
       name=i[0]
       total_marks=sum(i[1:])
print(name)

In [ ]:
students[0:]

In [ ]:
mylist=[[10,20],[45,30],[30,15]]
for each in mylist:
    each.reverse()
mylist.sort()
for each in mylist:
    each.reverse()
print(mylist)

# tuples,()
              -Tuples are immutable

**count()**

In [ ]:
mytuple=(10,30,"sai",True)
mytuple.count(10)

In [ ]:
mytuple[-1]

**index()**

In [ ]:
mytuple.index(10)

In [ ]:
mytuple.index(100)

# global functions

In [ ]:
numbers=(10,20,30)
sum(numbers)

In [ ]:
min(numbers)

In [ ]:
numbers=(10,20,30)
max(numbers)

**list slicing**

In [ ]:
num=[1,2,4,5,3,8]
num[0:3]

In [ ]:
num[0:7:2]    #every adding(0:0+2) items will appear

In [ ]:
num[:]           #all values will present

In [ ]:
num[5: :-1]             #for reverse

In [ ]:
num[::-1]               #for reverse

In [ ]:
name="sairam"
name[::-1]
print(name)

In [ ]:
data=['sai',10,'lakshmi',30,True]

**Strings**
            -Strings are immutable

In [ ]:
name="programming"
name[0]

### string methods
                    -PYTHON case sensitive

## startswith(sub_string) :to check the original string strats with substring or not

In [ ]:
name.startswith('Programming')

## 2.endswith(sub_string)

In [ ]:
name.endswith('g')

3.**upper()**

In [ ]:
name.upper()

4.**lower()**

In [ ]:
name.lower()

5.**isupper(),  6.islower()**

In [ ]:
name.islower()

In [ ]:
name.isupper()

In [ ]:
name='1234'
name.isdigit()

In [ ]:
'sai123'.isdigit()   #in string every char shouid be integer

In [ ]:
'pyTHOn'.swapcase()  #to change lower to upper upper to lower

In [ ]:
name='pyT Hon'
name.isalpha()      #name shouid be contain only alphabets# not space will allow

In [ ]:
name="python123"
name.isalpha()

In [ ]:
name='i am from vijayawada'   #to convert sentence to be split in words
name.split('m')

In [ ]:
name.split()

In [ ]:
words=['i a','fro','vijayawada']
'm'.join(words)                     # to join we use  join function

In [ ]:
'@'.join(words)

In [ ]:
name='    sairam    '             #to remove starting and ending spaces
name.strip()

In [ ]:
name.lstrip()                # to remove left space

In [ ]:
name.rstrip()                # to remove right space

In [12]:
b=[]
i=0
while True:
    a=(input("enter ur value"))
    if a.isdigit():
        b.append(int(a))
    if a=='done':
        break
    i=i+1
print(min(b))
print(max(b))

enter ur value89
enter ur value2
enter ur valuehello
enter ur valuehai
enter ur valuejik
enter ur value45
enter ur value0
enter ur valuedone
0
89

In [18]:
for i in range(2,2):
    print(i)